  <section>
    <div class="container">
      <h4>Lugares en los que aprendi</h4>
      <div class="row">
        <div class="col-md-3 col-sm12 acomoda-img">
          {% load static %}
          <img class="img-aprendi" src="{% static 'img/devfb.png' %}" alt="devf">
        </div>
        <div class="col-md-3 col-sm12 acomoda-img">
          {% load static %}
          <img class="img-aprendi" src="{% static 'img/centraal.png' %}" alt="Centraal">
        </div>
        <div class="col-md-3 col-sm12 acomoda-img">
          {% load static %}
          <img class="img-aprendi" src="{% static 'img/gdg.jpg' %}"alt="GDG UNAM">
        </div>
        <div class="col-md-3 col-sm12 acomoda-img">
          {% load static %}
          <img class="img-aprendi" src="{% static 'img/platzi.png' %}" alt="Platzi">
        </div>
      </div>
    </div>
  </section>
