<footer class="card text-center bg-dark">
<div class="card-body">
  <h5 class="card-title">Contactame :)</h5>
  <a target="_blank" href="https://www.facebook.com/ulysses316"><i class="fab fa-facebook"></i></a>
  <a target="_blank" href="https://www.github.com/ulysses316"><i class="fab fa-github"></i></a>
  <a target="_blank" href="https://www.instagram.com/ulysses.316/"><i class="fab fa-instagram"></i></a>
  <a href="mailto:ulises316@live.com.mx"><i class="fas fa-at"></i></a>
</div>
<div class="card-footer text-muted">
  Made whith <i class="far fa-heart"></i>
</div>
</footer>
