{% load static %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      {% load static %}
      <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Ulysses
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="skills/">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about/">Sobre mí</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Gasofia</a>
            <a class="dropdown-item" href="#">MX-pays</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Never gonna give you up</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0  ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button  type="button" class="btn btn-outline-light">Search</button>
      </form>
    </div>
  </div>
</nav>
