{% extends "base.html" %}

{% block content %}
<section class="cv-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sd-12 cv-blanco cv-margin-top">
        <h6>HUGM</h6>
        <div class="cv-presentacion">
          <h2>Hector Ulises G.M.</h2>
          <div class="dropdown-divider"></div>
          <h5>Desarrollador web Jr. Jr.</h5>
        </div>
        <div class="container cv-parrafo">
          <p>
            Hola mi nombre es Ulises, y soy desarrollador web. Se un poco de backend y un poco de frontend, pero sin duda alguna
            soy capaz de aprender lo que me proponga. Tengo varios proyecotos pequeños que hago para mejorar mis habilidades, puedes
            darte una vuelta por mi github.
          </p>

          <p>
            Enviame un email a: <a href="mailto:ulises316@live.com.mx">ulises316@live.com.mx</a> o comunicate por cualquiera de mis redes sociales.
          </p>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 cv-negro row">
        <div class="col-md-6 col-sm-12">
          <h5 class="padding-habiidades">Educacion <i class="fas fa-university"></i></h5>
          <div class="dropdown-divider padding-habiidades"></div>
          <div class=" align-start container">
            <h5 class="padding-habiidades">Universidad Nacional Autonoma de Mexico - 2017 - 2021</h5>
            <div class="dropdown-divider"></div>

            <p class="padding-habiidades">Facultad de estudios superiores Aragon</p>
            <p class="padding-habiidades">Ingenieria en computacion</p>
          </div>
          <div class="devf align-start container">
            <h5 class="padding-habiidades"><a target="_blank" href="https://devf.mx/cdmx">Dev-f</a></h5>
            <div class="dropdown-divider"></div>
            <p class="padding-habiidades"><a target="_blank"href="https://devf.mx/cdmx/cintaroja">Cinta roja</a></p>
            <p class="padding-habiidades">Desarrolla aplicaciones web robustas utilizando la arquitectura Cliente-Servidor.</p>
          </div>
          <div class="platzi align-start container">
            <h5 class="padding-habiidades"><a target="_blank" href="https://platzi.com/@ulises316/">Platzi</a></h5>
            <div class="dropdown-divider"></div>

            <ul class="padding-habiidades" style="">
              <li>Curso de CSS Grid Layout</li>
              <li>Curso de Finanzas Personales</li>
              <li>Curso de ingles basico</li>
              <li>Curso profesional de Git y GitHub</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 container">
          <h5 class="padding-habiidades">Habilidades <i class="fas fa-code"></i></h5>
          <div class="dropdown-divider padding-habiidades"></div>
          <div class=" align-start container">
            <h5 class="padding-habiidades">Backend</h5>
            <div class="dropdown-divider padding-habiidades"></div>
            <ul class="habilidades-icons padding-habiidades class="padding-habiidades"">
              <li><i class="fab fa-python"><span>Python</span> </i></li>
              <li><i class="fab fa-node-js"><span>Node</span> </i></li>
              <li><i><span>Express</span></i></li>
              <li><i><span>Flask</span></i></li>

            </ul>
          </div>

          <div class="devf align-start container">
            <h5 class="padding-habiidades">Frontend</h5>
            <div class="dropdown-divider"></div>
            <ul class="habilidades-icons padding-habiidades">
              <li><i class="fab fa-html5"> <span>HTML5</span> </i></li>
              <li><i class="fab fa-css3-alt"> <span>CSS3</span> </i></li>
              <li><i class="fab fa-js"> <span>JavaScript</span> </i></li>
              <li><i class="fab fa-angular"> <span>Angular</span> </i></li>
              <li><i><span>Bootstrap</span> </i></li>
              <li><i><span>Materialize</span> </i></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
